.header {
  background-color: #f6f6f6;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  @include flexbox-center();
  height: 80px;
  width: 100%;
  &--logo {
    font-family: $font-logo-title;
    margin: 0;
    color: #000;
  }
  &--arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 35px;
    top: 40%;
    font-size: 20px;
    & i {
      color: #000;
    }
  }
}