body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f6f6f6; }

* a {
  text-decoration: none;
  color: #fff; }

.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  color: #7a7a7a; }
  .location__city {
    margin-left: 13px;
    font-weight: 400; }

.hero {
  background: #fafafa;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0; }
  .hero__title {
    text-align: center;
    max-width: 250px;
    margin: 0; }
  .hero__text {
    text-align: center;
    padding: 0 1rem; }
  .hero__button {
    opacity: 1;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    color: #fff;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); }
    .hero__button:hover {
      opacity: 0.8;
      cursor: pointer;
      transition: 0.3s;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6); }

.process {
  width: 95%;
  max-width: 1200px;
  background-color: #fff;
  padding: 0;
  display: flex;
  flex-direction: column; }
  .process__title {
    margin: 0; }
  .process__step {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    height: auto;
    width: auto;
    margin: 10px 20px;
    padding-right: 1rem;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16); }
    .process__step:hover {
      opacity: 0.8;
      cursor: pointer;
      transition: 0.3s;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
      background: #e4d5f6; }
    .process__step:hover .process__icon {
      color: #9356dc; }
  .process__number {
    background-color: #9356dc;
    color: #fff;
    position: absolute;
    padding: 3px 8px 3px 8px;
    border-radius: 100%;
    transform: translateX(-50%); }
  .process__icon {
    color: #7e7e7e;
    margin: 0 20px; }
  .process__steps {
    display: flex;
    justify-content: center;
    flex-direction: column; }

.restaurant__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  transform: scale(1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); }
  .restaurant__card-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #99e2d0;
    top: 20px;
    right: 20px; }
    .restaurant__card-label p {
      color: #1b6150;
      padding: 10px 20px;
      margin: 0; }
  .restaurant__card:hover {
    transition: 0.5s;
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6); }
  .restaurant__card__image {
    width: 100%;
    height: 190px; }
    .restaurant__card__image > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0 0; }
.restaurant__block {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 0 0 20px 20px; }
  .restaurant__block-info {
    color: black;
    margin-left: 20px; }
    .restaurant__block-info > :first-child {
      font-weight: 700; }

.restaurant__block-hearth {
  position: relative;
  margin-right: 3rem;
  margin-bottom: 2rem; }
  .restaurant__block-hearth:hover .heart-full {
    opacity: 1; }
  .restaurant__block-hearth:hover .heart-empty {
    opacity: 0; }

.heart {
  position: absolute;
  font-size: 2rem;
  color: #000;
  transition: opacity 0.2s linear; }

.heart-full {
  opacity: 0;
  color: #9356dc;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.heart-empty {
  opacity: 1; }

.loader {
  pointer-events: none;
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: close 3.6s ease-in;
  opacity: 0; }
  .loader__lettre {
    font-family: "Shrikhand", cursive;
    color: #484848;
    font-size: 80px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite; }

@media screen and (max-width: 800px) {
  .loader__lettre {
    font-size: 40px; } }
@keyframes close {
  from {
    opacity: 1;
    display: block; }
  to {
    opacity: 0;
    display: block; } }
@keyframes flash {
  0% {
    color: #fff900;
    text-shadow: 0 0 10px #fff900; }
  90% {
    color: #484848;
    text-shadow: none; }
  100% {
    color: #fff900;
    text-shadow: 0 0 10px #fff900; } }
.loader__lettre:nth-child(1) {
  animation-delay: 0.1s; }

.loader__lettre:nth-child(2) {
  animation-delay: 0.2s; }

.loader__lettre:nth-child(3) {
  animation-delay: 0.3s; }

.loader__lettre:nth-child(4) {
  animation-delay: 0.4s; }

.loader__lettre:nth-child(5) {
  animation-delay: 0.5s; }

.loader__lettre:nth-child(6) {
  animation-delay: 0.6s; }

.loader__lettre:nth-child(7) {
  animation-delay: 0.7s; }

.loader__lettre:nth-child(8) {
  animation-delay: 0.8s; }

.header {
  background-color: #f6f6f6;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%; }
  .header__logo {
    font-family: "Shrikhand", cursive;
    margin: 0;
    color: #000; }
  .header__arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 35px;
    top: 40%;
    font-size: 20px; }
    .header__arrow i {
      color: #000; }

.footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__bloc {
    padding: 0 40px;
    width: 100%;
    max-width: 1200px; }
    .footer__bloc .logo {
      font-family: "Shrikhand", cursive;
      color: white;
      font-size: 20px;
      padding: 15px 0; }
    .footer__bloc-links {
      display: flex;
      flex-direction: column;
      width: 100%; }
    .footer__bloc-link {
      display: flex;
      align-items: center;
      display: flex;
      flex-direction: row;
      text-align: center;
      color: white;
      height: 30px;
      cursor: pointer; }
      .footer__bloc-link:hover .footer__bloc-link__title {
        text-decoration: underline; }
      .footer__bloc-link i {
        margin-right: 7px; }
      .footer__bloc-link__title {
        font-size: 16px;
        font-weight: 400; }

@media screen and (min-width: 800px) {
  .footer__bloc {
    margin-bottom: 15px; }
    .footer__bloc-links {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      max-width: 900px; } }
.process__contain {
  padding: 25px 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.restaurants {
  margin: 0;
  background: #f6f6f6;
  padding: 20px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start; }
  .restaurants__container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px; }

@media screen and (min-width: 800px) {
  .process__step {
    width: 100%; }

  .process__steps {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%; }

  .restaurants__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; } }
.img {
  width: 100%;
  height: 50vh; }
  .img__image {
    margin-top: -80px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

#menu {
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.menu {
  margin-top: -200px;
  padding: 0 20px;
  width: 100%;
  max-width: 1230px;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6; }
  .menu__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .menu__header__title {
      font-family: "Shrikhand", cursive; }
    .menu__header__heart {
      position: relative;
      margin-right: 3rem;
      margin-bottom: 2rem; }
      .menu__header__heart:hover .heart-full {
        opacity: 1; }
      .menu__header__heart:hover .heart-empty {
        opacity: 0; }
  .menu__grid {
    display: grid;
    grid-gap: 40px; }
    .menu__grid__bloc {
      display: grid;
      grid-gap: 15px; }
    .menu__grid__title h3 {
      position: relative;
      font-weight: 400;
      text-transform: uppercase; }
      .menu__grid__title h3::after {
        content: "";
        width: 50px;
        height: 4px;
        background: #99e2d0;
        position: absolute;
        z-index: 20;
        left: 0px;
        bottom: -8px; }
    .menu__grid__case {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 70px;
      border-radius: 15px;
      background-color: white;
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1); }
      .menu__grid__case:hover .validation__box {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slide-left 0.5s ease;
        transform-origin: right; }
      .menu__grid__case:hover .menu__case__price {
        padding-right: 70px;
        transition: 0.5s ease; }
      .menu__grid__case .validation__box {
        display: none;
        position: absolute;
        background: #99e2d0;
        border-radius: 0 15px 15px 0;
        right: 0px;
        padding: 0 13px;
        height: 100%; }
        .menu__grid__case .validation__box i {
          font-size: 30px;
          color: white;
          transform: rotate(180deg);
          animation: rotate 0.5s both; }
  .menu__case__dish {
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden; }
    .menu__case__dish p {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden; }
    .menu__case__dish-title {
      font-weight: bold; }
  .menu__case__price {
    padding-right: 20px;
    font-weight: bold;
    padding-left: 7px; }
  .menu__contain-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .menu__button {
    opacity: 1;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    color: #fff;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    margin: 50px 0;
    font-size: 18px; }
    .menu__button:hover {
      opacity: 0.8;
      cursor: pointer;
      transition: 0.3s;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6); }

.dish-and-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@keyframes slide-left {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(-50px); } }
@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.appears-with-opacity {
  animation: opacity 1s both; }

#case-1 {
  animation-delay: 0.1s; }

#case-2 {
  animation-delay: 0.2s; }

#case-3 {
  animation-delay: 0.3s; }

#case-4 {
  animation-delay: 0.4s; }

#case-5 {
  animation-delay: 0.5s; }

#case-6 {
  animation-delay: 0.6s; }

#case-7 {
  animation-delay: 0.7s; }

#case-8 {
  animation-delay: 0.8s; }

#case-9 {
  animation-delay: 0.9s; }

@media screen and (min-width: 1100px) {
  .menu {
    margin-top: -60px; }

  .menu__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; }

  .img__image {
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
