body {
  font-family: $font-text;
  margin: 0;
  background: #f6f6f6;
}

* a {
  text-decoration: none;
  color: #fff;
}

.main {
  margin: 0;
  padding: 0;
  @include flexbox-center;
  flex-direction: column;
}
